$theme-colors: (
  "green": #719673,
  "green-light": #b4cab5,
  "green-light-2": #f3faf3,
  "blue-green": #93acb5,
  "blue-green-2": #eef0f1,
  "grey": #858585,
  "blue": #96c5f7,
  "light-blue": #a9d3ff,
  "light-grey": #f5f5f5,
  "white": #ffffff,
  "white-yellow": #fff9e6,
  "accepted": #CDDCFF,
  "refund": orange,
);

$border-size: (
  "1": 1px,
  "2": 2px,
  "3": 3px,
  "4": 4px,
  "5": 5px,
  "6": 6px,
  "7": 7px,
  "8": 8px,
  "9": 9px,
  "10": 10px,
);

$font-size: (
  "10": 0.75rem,
  // 12px
  "20": 0.875rem,
  // 14px
  "30": 1rem,
  // 16px
  "40": 1.25rem,
  // 20px
  "50": 1.5rem,
  // 24px
  "60": 1.75rem,
  // 28px
  "70": 2rem,
  // 32px
  "80": 2.25rem,
  // 36px
);

$font-weight: (
  "bold": 700,
  "regular": 400,
);

@each $name, $value in $font-size {
  .text-fs-#{$name} {
    font-size: $value;
  }
}
@each $name, $value in $font-weight {
  .text-fw-#{$name} {
    font-weight: $value;
  }
}
@each $name, $value in $theme-colors {
  .bg-#{$name} {
    background-color: $value;
  }
  .text-#{$name} {
    color: $value;
  }
}
$spacers: (
  "0": 0rem,
  // 0px
  "1": 0.125rem,
  // 2px
  "2": 0.25rem,
  // 4px
  "3": 0.5rem,
  // 8px
  "4": 0.75rem,
  // 12px
  "5": 1rem,
  // 16px
  "6": 1.5rem,
  // 24px
  "7": 2rem,
  // 32px
  "8": 2.5rem,
  // 40px
  "9": 3.5rem,
  // 56px
  "10": 4rem,
  // 64px
  "11": 4.5rem,
  // 72px
  "12": 5rem,
  // 80px
  "13": 6rem,
  // 96px
  "14": 8rem,
  // 128px
  "15": 11rem,
  // 176px
  "16": 12rem,
  // 192px
  "17": 13rem,
  // 208px
  "18": 14rem,
  // 224px
  "19": 15rem,
  // 240px
  "20": 16rem,
  // 256px
  "21": 17rem,
  // 272px
  "22": 18rem,
  // 288px
  "23": 19rem,
  // 304px
  "24": 20rem,
  // 320px
  "25": 21rem,
  // 336px
  "26": 22rem,
  // 352px
  "27": 23rem,
  // 368px
  "28": 24rem,
  // 384px
  "29": 25rem,
  // 400px
  "30": 26rem,
  // 416px
  "31": 27rem,
  // 432px
  "32": 28rem,
  // 448px
  "33": 29rem,
  // 464px
  "34": 30rem,
  // 480px
  "35": 31rem,
  // 496px
  "36": 32rem,
  // 512px
  "37": 33rem,
  // 528px
  "38": 34rem,
  // 544px
  "39": 35rem,
  // 560px
  "40": 36rem,
  // 576px
  "41": 37rem,
  // 592px
  "42": 38rem,
  // 608px
  "43": 39rem,
  // 624px
  "44": 40rem,
  // 640px
  "45": 41rem,
  // 656px
  "46": 42rem,
  // 672px
  "47": 43rem,
  // 688px
  "48": 44rem,
  // 704px
  "49": 45rem,
  // 720px
  "50": 46rem,
  // 736px
  "51": 47rem,
  // 752px
  "52": 48rem,
  // 768px
  "53": 49rem,
  // 784px
  "54": 50rem,
  // 800px
  "55": 51rem,
  // 816px
  "56": 52rem,
  // 832px
  "57": 53rem,
  // 848px
  "58": 54rem,
  // 864px
  "59": 55rem,
  // 880px
  "60": 56rem,
  // 896px
  "61": 57rem,
  // 912px
  "62": 58rem,
  // 928px
  "63": 59rem,
  // 944px
  "64": 60rem,
  // 960px
  "65": 61rem,
  // 976px
  "66": 62rem,
  // 992px
  "67": 63rem,
  // 1008px
  "68": 64rem,
  // 1024px
  "69": 65rem,
  // 1040px
  "70": 66rem,
  // 1056px
  "71": 67rem,
  // 1072px
  "72": 68rem,
  // 1088px
  "73": 69rem,
  // 1104px
  "74": 70rem,
  // 1120px
  "75": 71rem,
  // 1136px
  "76": 72rem,
  // 1152px
  "77": 73rem,
  // 1168px
  "78": 74rem,
  // 1184px
  "79": 75rem,
  // 1200px
  "80": 76rem,
  // 1216px
  "81": 77rem,
  // 1232px
  "82": 78rem,
  // 1248px
  "83": 79rem,
  // 1264px
  "84": 80rem,
  // 1280px
  "85": 81rem,
  // 1296px
  "86": 82rem,
  // 1312px
  "87": 83rem,
  // 1328px
  "88": 84rem,
  // 1344px
  "89": 85rem,
  // 1360px
  "90": 86rem,
  // 1376px
  "91": 87rem,
  // 1392px
  "92": 88rem,
  // 1408px
  "93": 89rem,
  // 1424px
  "94": 90rem,
  // 1440px
  "95": 91rem,
  // 1456px
  "96": 92rem,
  // 1472px
  "97": 93rem,
  // 1488px
  "98": 94rem,
  // 1504px
  "99": 95rem,
  // 1520px
  "100": 96rem,
  // 1536px
  "101": 97rem,
  // 1552px
  "102": 98rem,
  // 1568px
  "103": 99rem,
  // 1584px
  "104": 100rem,
  // 1600px
  "105": 101rem,
  // 1616px
  "106": 102rem,
  // 1632px
  "107": 103rem,
  // 1648px
  "108": 104rem,
  // 1664px
  "109": 105rem,
  // 1680px
  "110": 106rem,
  // 1696px
  "111": 107rem,
  // 1712px
  "112": 108rem,
  // 1728px
  "113": 109rem,
  // 1744px
  "114": 110rem,
  // 1760px
  "115": 111rem,
  // 1776px
  "116": 112rem,
  // 1792px
  "117": 113rem,
  // 1808px
  "118": 114rem,
  // 1824px
  "119": 115rem,
  // 1840px
  "120": 116rem,
  // 1856px
  "121": 117rem,
  // 1872px
  "122": 118rem,
  // 1888px
  "123": 119rem,
  // 1904px
  "124": 120rem,
  // 1920px
  "125": 121rem,
  // 1936px
  "126": 122rem,
  // 1952px
  "127": 123rem,
  // 1968px
  "128": 124rem,
  // 1984px
  "129": 125rem,
  // 2000px
  "130": 126rem,
  // 2016px
  "131": 127rem,
  // 2032px
  "132": 128rem,
  // 2048px
  "133": 129rem,
  // 2064px
  "134": 130rem,
  // 2080px
  "135": 131rem,
  // 2096px
  "136": 132rem,
  // 2112px
  "137": 133rem,
  // 2128px
  "138": 134rem,
  // 2144px
  "139": 135rem,
  // 2160px
  "140": 136rem,
  // 2176px
  "141": 137rem,
  // 2192px
  "142": 138rem,
  // 2208px
  "143": 139rem,
  // 2224px
  "144": 140rem,
  // 2240px
  "145": 141rem,
  // 2256px
  "146": 142rem,
  // 2272px
  "147": 143rem,
  // 2288px
  "148": 144rem,
  // 2304px
  "149": 145rem,
  // 2320px
  "150": 146rem,
  // 2336px
  "151": 147rem,
  // 2352px
  "152": 148rem,
  // 2368px
  "153": 149rem,
  // 2384px
  "154": 150rem,
  // 2400px
  "155": 151rem,
  // 2416px
  "156": 152rem,
  // 2432px
  "157": 153rem,
  // 2448px
  "158": 154rem,
  // 2464px
  "159": 155rem,
  // 2480px
  "160": 156rem,
  // 2496px
  "161": 157rem,
  // 2512px
  "162": 158rem,
  // 2528px
  "163": 159rem,
  // 2544px
  "164": 160rem,
  // 2560px
  "165": 161rem,
  // 2576px
  "166": 162rem,
  // 2592px
  "167": 163rem,
  // 2608px
  "168": 164rem,
  // 2624px
  "169": 165rem,
  // 2640px
  "170": 166rem,
  // 2656px
  "171": 167rem,
  // 2672px
  "172": 168rem,
  // 2688px
  "173": 169rem,
  // 2704px
  "174": 170rem,
  // 2720px
  "175": 171rem,
  // 2736px
  "176": 172rem,
  // 2752px
  "177": 173rem,
  // 2768px
  "178": 174rem,
  // 2784px
  "179": 175rem,
  // 2800px
  "180": 176rem,
  // 2816px
  "181": 177rem,
  // 2832px
  "182": 178rem,
  // 2848px
  "183": 179rem,
  // 2864px
  "184": 180rem,
  // 2880px
  "185": 181rem,
  // 2896px
  "186": 182rem,
  // 2912px
  "187": 183rem,
  // 2928px
  "188": 184rem,
  // 2944px
  "189": 185rem,
  // 2960px
  "190": 186rem,
  // 2976px
  "191": 187rem,
  // 2992px
  "192": 188rem,
  // 3008px
  "193": 189rem,
  // 3024px
  "194": 190rem,
  // 3040px
  "195": 191rem,
  // 3056px
  "196": 192rem,
  // 3072px
  "197": 193rem,
  // 3088px
  "198": 194rem,
  // 3104px
  "199": 195rem,
  // 3120px
  "200": 196rem
  // 3136px
  

);
@each $name, $value in $spacers {
  .p-#{$name} {
    padding: $value;
  }
  .pl-#{$name} {
    padding-left: $value;
  }
  .pr-#{$name} {
    padding-right: $value;
  }
  .pt-#{$name} {
    padding-top: $value;
  }
  .pb-#{$name} {
    padding-bottom: $value;
  }
  .px-#{$name} {
    padding-right: $value;
    padding-left: $value;
  }
  .py-#{$name} {
    padding-top: $value;
    padding-bottom: $value;
  }
  .m-#{$name} {
    margin: $value;
  }
  .ml-#{$name} {
    margin-left: $value;
  }
  .mr-#{$name} {
    margin-right: $value;
  }
  .mt-#{$name} {
    margin-top: $value;
  }
  .mb-#{$name} {
    margin-bottom: $value;
  }
  .mx-#{$name} {
    margin-right: $value;
    margin-left: $value;
  }
  .my-#{$name} {
    margin-top: $value;
    margin-bottom: $value;
  } 
}
$icon-sizes: (
  small: map-get($font-size, 10),
  medium: map-get($font-size, 30),
  large: map-get($font-size, 40),
);
@each $name, $value in $icon-sizes {
  .icon-#{$name} {
    font-size: $value;
  }
} ;

// Dimensions des cartes et images
$card-height: 100%;
$product-image-dimensions: (height: 280px, width: 100%);
