@import "./_variables.scss";
@import "../../../node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Cambay:wght@400;700&display=swap');

body {
  font-family: 'Cambay', sans-serif;
  color: map-get($theme-colors, "green");
  background-color: map-get($theme-colors, "light-grey");
  overflow-x: hidden !important;

  main {
    overflow: hidden !important;
    width: 100%;
  }
}

h1, h2, h3, p ul li {
  font-family: 'Cambay', sans-serif;
}

h1 {
  font-weight: map-get($font-weight, "bold");
  font-size: map-get($font-size, "70");
}

h2 {
  font-weight: map-get($font-weight, "bold");
  font-size: map-get($font-size, "60");
}

h3 {
  font-weight: map-get($font-weight, "bold");
  font-size: map-get($font-size, "50");
}

p {
  font-size: map-get($font-size, "20");
}

.container {
  padding-left: 22rem;
  padding-top: 5rem;
}

@each $color-name, $color-value in $theme-colors {
  .text-#{$color-name} {
    color: $color-value;
  }
  .bg-#{$color-name} {
    background-color: $color-value;
  }
}

@each $name, $value in $font-size {
  .text-fs-#{$name} {
    font-size: $value;
  }
}


//.btn {
//  font-family: "Raleway", sans-serif;
//  text-transform: none;
//  width: fit-content;
//  background-color: map-get($theme-colors, "grey-light");
//  border: none;
//  color: white;
//  font-weight: bold;
//  border-radius: 0.6rem;
//  font-size: map-get($font-size, m);
//  letter-spacing: 0;
//  &-grey {
//    padding: 0.5rem 1.8rem;
//  }
//  &-light {
//    padding: 0.5rem 2rem;
//  }
//}

