@import "./_variables.scss";
@import "../../../node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Cambay:wght@400;700&display=swap');

body {
  min-height: 100vh; 
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Cambay', sans-serif;
  color: map-get($theme-colors, "green");
  background-color: map-get($theme-colors, "light-grey");
  overflow-x: hidden;

  main {
    overflow: hidden;
    width: 100%;
    flex: 1 0 auto; 
  }
}

h1, h2, h3, p ul li {
  font-family: 'Cambay', sans-serif;
}

h1 {
  font-weight: map-get($font-weight, "bold");
  font-size: map-get($font-size, "70");
}

h2 {
  font-weight: map-get($font-weight, "bold");
  font-size: map-get($font-size, "60");
}

h3 {
  font-weight: map-get($font-weight, "bold");
  font-size: map-get($font-size, "50");
}

h4 {
  font-weight: map-get($font-weight, "bold");
  font-size: map-get($font-size, "40");
}

h5 {
  font-weight: map-get($font-weight, "bold");
  font-size: map-get($font-size, "30");
}

a, p {
  font-size: map-get($font-size, "20");
}

.container {
  padding-left: 20rem;
  padding-top: 5rem;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

app-transition,
router-outlet {
  flex: 1 0 auto; 
}

.carousel-indicators {
  display: none !important;
}   

@each $color-name, $color-value in $theme-colors {
  .text-#{$color-name} {
    color: $color-value;
  }
  .bg-#{$color-name} {
    background-color: $color-value;
  }
}

@each $name, $value in $font-size {
  .text-fs-#{$name} {
    font-size: $value;
  }
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
  font-family: 'Material Symbols Outlined';
}

.mat-mdc-snack-bar-container {
  position: fixed !important;
}

.mdc-snackbar__label {
  padding-left: 26px !important;
  padding-right: 18px !important;
}

.custom-snackbar {
  min-width: auto;      
  width: max-content;   
  max-width: 100%;      
  background-color: #ffffff; 
  color: map-get($theme-colors, "green"); 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.mat-mdc-snack-bar-container {
  left: auto !important;
  right: 0 !important; 
  bottom: 0 !important; 
}

.footer {
  z-index: 1400; 
  flex-shrink: 0; 
  width: 100%;
}

@media (max-width: 767px) {
  .container {
    padding-left: 20px !important;
    padding-right: 20px !important;
    padding-top: 0 !important;
  }

  .app-container {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
  }

  .carousel-indicators {
    display: none !important;
  }

  h4 {
    font-weight: map-get($font-weight, "bold");
    font-size: map-get($font-size, "30");
  }
  
  h5 {
    font-weight: map-get($font-weight, "bold");
    font-size: map-get($font-size, "20");
  }

  .mat-mdc-snack-bar-container {
    width: 95vw !important;
  }
}
