@import "../../../styles/_variables.scss";

.pt-18 {
    padding-top: 35vh;
}

.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 550px;
    overflow: hidden;
    transition: width 0.5s ease;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    background-color: transparent;

    &.on-homepage .navbar-nav .nav-item {
        transform: translateY(0);
    }

    &.on-homepage {
        padding-top: calc(35vh + 20px);
    }

    .navbar {
        .burger-menu {
            width: 100%;
            margin-top: 2rem;
        }

        .navbar-collapse {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            max-height: 500px;
            overflow: hidden;
            transition: max-height 0.35s ease;
        }

        .navbar-brand {
            width: 100%;
            display: flex;
            justify-content: center;
        }

        .navbar-nav {
            width: 100%;
            .nav-item {
                text-align: center;
                transform: translateY(-100%);
                transition: transform 0.5s ease, scale 0.3s ease; 

                &:hover {
                    transform: translateY(-100%) scale(1.3); 
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }

            .nav-link {
                color: #719673;
                &:hover {
                    color: darken(#719673, 10%);
                }
            }
        }

        .social-icons {
            display: flex;
            justify-content: center;
            width: 100%;

            .social-logo {
                height: 30px;
                width: auto;
            }

            a {
                color: #719673;
                margin: 0 15px;
            }
        }
    }
}

.blurred {
    filter: blur(4px);
    opacity: 0.8;
    transition: filter 300ms ease, opacity 300ms ease;
}
