<div class="full-width-container">
  <a routerLink="/finaliser-commande" class="cart-icon" *ngIf="showCartIcon">
    <span class="material-symbols-outlined">shopping_cart</span>
    <span *ngIf="totalItemCount$ | async as totalCount" class="cart-notification">{{ totalCount }}</span>
  </a>  
  <div class="header-container" *ngIf="showHeader" [ngClass]="{'fixed-header': isHomepage, 'menu-open': navbarExpanded}">
    <div class="header-top">
      <app-menu-burger-logo [isHomepage]="isHomepage" [navbarExpanded]="navbarExpanded" (toggle)="toggleMenu()"></app-menu-burger-logo>
    </div>
    <header class="navigation-elements" [class.hidden]="!navbarExpanded && !isHomepage">
      <nav class="navbar">
        <div class="collapse" [ngClass]="{'show': navbarExpanded || isHomepage}" #navbarCollapse>
          <ul class="navbar-nav">
            <li class="nav-item my-4 text-fs-40" *ngFor="let item of menuItems" (click)="handleNavItemClick($event, item)">
              <a class="nav-link" [routerLink]="item.link">{{ item.label }}</a>
            </li>
          </ul>
          <div class="social-links pt-5 d-flex justify-content-center">
            <a href="https://www.facebook.com" target="_blank" class="social-icon">
              <img src="assets/img/facebook-green.png" alt="Facebook" style="height: 30px;">
            </a>
            <a href="https://www.instagram.com" target="_blank">
              <img src="assets/img/instagram-green.png" alt="Instagram" style="height: 30px;">
            </a>
          </div>          
        </div>
      </nav>
    </header>
  </div>
  <div class="blurred-overlay" *ngIf="navbarExpanded"></div>
</div>
