<div class="header-container" [ngClass]="{'fixed-header': isHomepage, 'menu-open': navbarExpanded}">
  <app-menu-burger-logo [isHomepage]="isHomepage" (toggle)="toggleMenu()"></app-menu-burger-logo>
  <header class="navigation-elements" [class.hidden]="!navbarExpanded && !isHomepage">
    <nav class="navbar">
      <div class="container-fluid">
        <div class="collapse" [ngClass]="{'show': navbarExpanded || isHomepage}" #navbarCollapse>
          <ul class="navbar-nav mx-auto">
            <li class="nav-item my-5 text-fw-bold text-fs-40" (click)="handleNavItemClick()" *ngFor="let item of menuItems">
              <a class="nav-link" [href]="item.link">{{ item.label }}</a>
            </li>
          </ul>
          <div class="social-links pt-7 d-flex justify-content-center">
            <a href="https://www.facebook.com" target="_blank" class="social-icon">
              <img src="assets/img/facebook-green.png" alt="Facebook" style="height: 30px;">
            </a>
            <a href="https://www.instagram.com" target="_blank">
              <img src="assets/img/instagram-green.png" alt="Instagram" style="height: 30px;">
            </a>
          </div>          
        </div>
      </div>
    </nav>
  </header>
</div>

