@import "../../../styles/_variables.scss";

.full-width-container {
  position: relative;
  width: 100%; 
  height: 50px; 
  z-index: 999; 
}

.cart-icon {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 120px; 
  top: 35px; 
  font-size: 24px;

  .material-symbols-outlined {
    font-size: 24px;
    &.homepage-cart {
      color: map-get($theme-colors, "white-yellow");
    }
    &.other-page-cart {
      color: map-get($theme-colors, "green");
    }
  }

  .cart-notification {
    position: absolute;
    top: -17px;
    right: -14px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 3px 8px;
    font-size: 14px;
  }
}

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 30vw; 
  overflow: hidden;
  transition: padding-top 0.3s ease, width 0.5s ease;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  background-color: transparent;

  &.fixed-header {
    margin-top: 45px;
  }

  &.menu-open {
    padding-top: 0;
    background-color: white; 
    transition: padding-top 0.3s ease, width 0.5s ease, background-color 1.2s ease;
  }

  .header-top {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    width: 100%; 
    padding: 0 15px; 
  }

  .hidden {
    display: none;
  }

  .navigation-elements {
    width: 100%; 
    position: relative;
    top: 12.75rem; 
    transition: top 0.3s ease;
  }

  &.menu-open .navigation-elements {
    transform: translateY(50px);
  }

  .navbar {
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;

    .navbar-collapse {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      overflow: hidden;
      transition: max-height 0.35s ease;
    }

    .navbar-nav {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      .nav-item {
        width: 100%;

        .nav-link {
          display: flex;
          justify-content: center;
          align-items: center;
          color: map-get($theme-colors, "green");

          &.homepage-link {
            color: map-get($theme-colors, "white-yellow");
            transition: transform 0.5s ease, color 0.3s ease; 
            &:hover {
                color: darken(map-get($theme-colors, "light-grey"), 30%);
                transform: scale(1.2); 
            }
          }
          
          &.other-page-link {
              color: map-get($theme-colors, "green");
              transition: transform 0.5s ease, color 1s ease; 
              &:hover {
                  color: darken(map-get($theme-colors, "green"), 10%);
                  transform: scale(1.2); 
              }
          }
        
          img {
            height: 30px;
            margin-right: 8px;
          }
        }
      }
    }
  }
}

.blurred-overlay {
  position: fixed;
  top: 0;
  left: 30vw;  
  width: 70vw; 
  height: 100vh; 
  backdrop-filter: blur(3px); 
  z-index: 995; 
  background: rgba(255, 255, 255, 0.5); 
}


@media (max-width: 767px) {
  .full-width-container {
    height: 100vh; 
    display: flex;
    align-items: center; 
  }

  .header-container {
    width: 100%;
    max-width: 380px!important;
    height: 100vh; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    box-sizing: border-box; 
    &.fixed-header {
      margin-top: 0;
    }
    &.on-homepage {
      display: none;
    }

    &.menu-open {
      padding-top: 0;
      background-color: rgba(231, 231, 231, 0.966);
      transition: padding-top 0.3s ease, width 0.5s ease, background-color 1.2s ease;
      color: map-get($theme-colors, "green");
    }
  }

  .navigation-elements {
    top: 0 !important;
    display: none;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateX(-15px) !important;

    .navbar {
      width: 100%; 
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .nav-item {
        text-align: center; 
        padding: 5px 0; 

        .nav-link {
          display: flex;
          justify-content: center;
          align-items: center;
          &.homepage-link {
            color: map-get($theme-colors, "green") !important;
          }
        }
      }

      .social-links {
        display: flex;
        justify-content: center; 
        width: 100%;
        margin-top: 20px; 

        .social-icon {
          
          .social-logo-fb img {
            & {
              content: url("/assets/img/facebook-green.png"); 
            }
            @media (min-width: 768px) { 
              &[src*="blanc"] {
                content: url("/assets/img/facebook-blanc.png");
              }
              &:not([src*="blanc"]) {
                content: url("/assets/img/facebook-green.png");
              }
            }
          }

          .social-logo-insta img {
            & {
              content: url("/assets/img/instagram-green.png"); 
            }
            @media (min-width: 768px) { 
              &[src*="blanc"] {
                content: url("/assets/img/instagram-blanc.png");
              }
              &:not([src*="blanc"]) {
                content: url("/assets/img/instagram-green.png");
              }
            }
          }
        }
      }
    }
  }

  .header-container.menu-open .navigation-elements {
    display: block;
  }

  .cart-icon {
    display: none; 
  }
}
