@import "../../../styles/_variables.scss";

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 30vw; 
  overflow: hidden;
  transition: padding-top 0.3s ease, width 0.5s ease;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  background-color: transparent;

  &.fixed-header {
    width: 100%;
    margin-top: 45px;
  }

  &.menu-open {
    padding-top: 0;
    background-color: white; 
    transition: padding-top 0.3s ease, width 0.5s ease, background-color 1.2s ease;
  }

  .hidden {
    display: none;
  }

  .navigation-elements {
    width: 100%; 
    position: relative;
    top: 12.75rem; 
    transition: top 0.3s ease;
  }

  &.menu-open .navigation-elements {
    transform: translateY(50px);
  }

  .navbar {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .navbar-collapse {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      overflow: hidden;
      transition: max-height 0.35s ease;
    }

    .social-icon {
        margin-right: 20px; 
    }

    .navbar-nav {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      .nav-item {
        width: 100%;

        .nav-link {
          display: flex;
          justify-content: center;
          align-items: center;
          color: #719673;

          img {
            height: 30px;
            margin-right: 8px;
          }

          &:hover {
            color: darken(#719673, 10%);
          }
        }
      }
    }
  }
}

.blurred-overlay {
    position: fixed;
    top: 0;
    left: 30vw;  
    width: 70vw; 
    height: 100vh; 
    backdrop-filter: blur(3px); 
    z-index: 995; 
    background: rgba(255, 255, 255, 0.5); 
  }
  
  
