<div *ngIf="productsData$ | async as productsDataArray">
  <section *ngFor="let productData of productsDataArray">
    <h2>{{ productData?.title }}</h2>
    <div *ngIf="productData?.acf_fields">
      <h3>{{ productData.acf_fields.title }}</h3>
      <p>{{ productData.acf_fields.subtitle }}</p>
      
      <!-- Affichage conditionnel si l'image du produit existe -->
      <img *ngIf="productData.acf_fields.product_image" src="{{ productData.acf_fields.product_image }}" alt="Image du produit">
      
      <h4>{{ productData.acf_fields.product_title }}</h4>
      <p>{{ productData.acf_fields.description }}</p>
      <div class="product-details">
        <span>Prix : {{ productData.acf_fields.price }}</span>
        <span>Poids : {{ productData.acf_fields.weight }}g</span>
        <span>Quantité par défaut : {{ productData.acf_fields.default_quantity }}</span>
      </div>
    </div>
  </section>
</div>

