:host {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;
  }
  
  .container {
    text-align: center;
  }
  
  .mt-10 {
    margin-top: 10px;
  }
  
  .mt-3 {
    margin-top: 3px;
  }
  
  .back-to-home {
    display: inline-block;
    padding: 10px 20px;
    background-color: #719673;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .back-to-home:hover {
    background-color: #719673;
  }
  