@import "../../styles/_variables.scss";

.brunch-container {
  padding-left: 24rem;
  padding-top: 5rem;
  
  @media (max-width: 768px) {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0 !important
  }
  
  .btn-call {
    background-color: map-get($theme-colors, "green-light");
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border-radius: 0.375rem;
    transition: background-color 0.3s ease;
    width: 100%;
    margin-top: 1rem;
    z-index: 2;

    &:hover {
      background-color: darken(map-get($theme-colors, "green-light"), 20%);
    }
  }

  .material-symbols-outlined {
    font-variation-settings:
      'FILL' 0,
      'wght' 400,
      'GRAD' 0,
      'opsz' 24;
    color: white;
  }

  .icon-flipped {
    transform: scaleX(-1);
  }

  .image-logo-container {
    position: relative;
    overflow: hidden;

    .image-scroll-wrapper {
      display: flex;
      animation: scrollImages 25s linear infinite;
      img {
        flex-shrink: 0;
        max-width: 100%;
        height: auto;
      }
    }

    @keyframes scrollImages {
      from {
        transform: translateX(0);
      }
      to {
        transform: translateX(-100%);
      }
    }
  }
}
