<div class="brunch-container" *ngIf="brunchData$ | async as brunchDataArray">
  <section *ngFor="let brunchData of brunchDataArray">
    <div class="row">
      <div class="col-md-5 px-8">
        <h2 class="mb-5">{{ brunchData.acf_fields.title }}</h2>
        <p class="mb-7">{{ brunchData.acf_fields.subtitle }}</p>
        <div *ngIf="brunchData?.acf_fields" [innerHTML]="brunchData.acf_fields.texte"></div>
        <button class="btn btn-call w-100 mt-10 d-flex justify-content-center align-items-center" (click)="callLaiterie()">
          Réserver une table
          <span class="material-symbols-outlined icon-flipped mx-3">
            call
          </span>
        </button>
      </div>
      <div class="col-md-7 pt-md-0 pt-7">
        <div class="image-logo-container">
          <div class="image-scroll-wrapper">
            <ng-container *ngFor="let i of [1, 2, 3, 4, 5, 6, 7]">
              <img *ngIf="brunchData.acf_fields['image-' + i]" 
                   [src]="brunchData.acf_fields['image-' + i]"
                   [style.width]="getImageWidth()"
                   [style.height]="getImageHeight()"
                   alt="Brunch Image {{ i }}" 
                   class="img-fluid">
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
