<div class="supplier-container" *ngIf="suppliersData$ | async as suppliersData">
  <h2>{{ suppliersData[0].acf_fields.title }}</h2>
  <p class="pr-md-15">{{ suppliersData[0].acf_fields.subtitle }}</p>
  <section class="supplier-section supplier-1 py-md-10 py-10">
    <div class="d-flex flex-column">
       <div [innerHTML]="suppliersData[0].acf_fields['supplier-1']"></div>
      <div class="image-container">
        <img [src]="suppliersData[0].acf_fields['supplier-1-image-1']" alt="Image 1 for Supplier 1" class="supplier-1-image-1 fade-in-image small-image" #fadeInImage (error)="handleImageError($event)">
        <img [src]="suppliersData[0].acf_fields['supplier-1-image-2']" alt="Image 2 for Supplier 1" class="supplier-1-image-2 fade-in-image large-image" #fadeInImage (error)="handleImageError($event)">
        <img [src]="suppliersData[0].acf_fields['supplier-1-image-3']" alt="Image 3 for Supplier 1" class="supplier-1-image-3 fade-in-image medium-image" #fadeInImage (error)="handleImageError($event)">
      </div>
    </div>
    <div class="logo-container">
      <img src="/assets/suppliers-logos/logo_origines_noir.png" alt="Logo Supplier 1" class="supplier-logo supplier-1-logo">
    </div>
  </section>

  <section class="supplier-section supplier-2 pt-md-45 py-10">
    <div class="d-flex flex-column">
      <div [innerHTML]="suppliersData[0].acf_fields['supplier-2']"></div>
      <div class="image-container">
        <img [src]="suppliersData[0].acf_fields['supplier-2-image-1']" alt="Image 1 for Supplier 2" class="supplier-2-image-1 fade-in-image medium-image" #fadeInImage (error)="handleImageError($event)">
        <img [src]="suppliersData[0].acf_fields['supplier-2-image-2']" alt="Image 2 for Supplier 2" class="supplier-2-image-2 fade-in-image small-image" #fadeInImage (error)="handleImageError($event)">
        <img [src]="suppliersData[0].acf_fields['supplier-2-image-3']" alt="Image 3 for Supplier 2" class="supplier-2-image-3 fade-in-image large-image" #fadeInImage (error)="handleImageError($event)">
      </div>
    </div>
    <div class="logo-container">
      <img src="/assets/suppliers-logos/logo_alchimiste.png" alt="Logo Supplier 2" class="supplier-logo supplier-2-logo">
    </div>
  </section>

  <section class="supplier-section supplier-3 pt-md-55 py-10">
    <div class="d-flex flex-column">
      <div [innerHTML]="suppliersData[0].acf_fields['supplier-3']"></div>
      <div class="image-container">
        <img [src]="suppliersData[0].acf_fields['supplier-3-image-1']" alt="Image 1 for Supplier 3" class="supplier-3-image-1 fade-in-image large-image" #fadeInImage (error)="handleImageError($event)">
        <img [src]="suppliersData[0].acf_fields['supplier-3-image-2']" alt="Image 2 for Supplier 3" class="supplier-3-image-2 fade-in-image medium-image" #fadeInImage (error)="handleImageError($event)">
        <img [src]="suppliersData[0].acf_fields['supplier-3-image-3']" alt="Image 3 for Supplier 3" class="supplier-3-image-3 fade-in-image small-image" #fadeInImage (error)="handleImageError($event)">
      </div>
    </div>
    <div class="logo-container">
      <img src="/assets/suppliers-logos/logo_meneau.png" alt="Logo Supplier 3" class="supplier-logo supplier-3-logo">
    </div>
  </section>

  <section class="supplier-section supplier-4 pt-md-45 py-10">
    <div class="d-flex flex-column">
      <div [innerHTML]="suppliersData[0].acf_fields['supplier-4']"></div>
      <div class="image-container">
        <img [src]="suppliersData[0].acf_fields['supplier-4-image-1']" alt="Image 1 for Supplier 4" class="supplier-4-image-1 fade-in-image small-image" #fadeInImage (error)="handleImageError($event)">
        <img [src]="suppliersData[0].acf_fields['supplier-4-image-2']" alt="Image 2 for Supplier 4" class="supplier-4-image-2 fade-in-image large-image" #fadeInImage (error)="handleImageError($event)">
        <img [src]="suppliersData[0].acf_fields['supplier-4-image-3']" alt="Image 3 for Supplier 4" class="supplier-4-image-3 fade-in-image medium-image" #fadeInImage (error)="handleImageError($event)">
      </div>
    </div>
    <div class="logo-container">
      <img src="/assets/suppliers-logos/comptoir-alba-black.png" alt="Logo Supplier 4" class="supplier-logo supplier-4-logo">
    </div>
  </section>

  <section class="supplier-section supplier-5 pt-md-5 py-10">
    <div class="d-flex flex-column">
      <div [innerHTML]="suppliersData[0].acf_fields['supplier-5']"></div>
      <div class="image-container">
        <img [src]="suppliersData[0].acf_fields['supplier-5-image-1']" alt="Image 1 for Supplier 5" class="supplier-5-image-1 fade-in-image large-image" #fadeInImage (error)="handleImageError($event)">
        <img [src]="suppliersData[0].acf_fields['supplier-5-image-2']" alt="Image 2 for Supplier 5" class="supplier-5-image-2 fade-in-image medium-image" #fadeInImage (error)="handleImageError($event)">
        <img [src]="suppliersData[0].acf_fields['supplier-5-image-3']" alt="Image 3 for Supplier 5" class="supplier-5-image-3 fade-in-image small-image" #fadeInImage (error)="handleImageError($event)">
      </div>
    </div>

    <div class="logo-container">
      <img src="/assets/suppliers-logos/logo_riz.png" alt="Logo Supplier 5" class="supplier-logo supplier-5-logo">
    </div>
  </section>

  <section class="supplier-section supplier-6 pt-md-45 py-10">
    <div class="d-flex flex-column">
      <div [innerHTML]="suppliersData[0].acf_fields['supplier-6']"></div>
      <div class="image-container">
        <img [src]="suppliersData[0].acf_fields['supplier-6-image-1']" alt="Image 1 for Supplier 6" class="supplier-6-image-1 fade-in-image medium-image" #fadeInImage (error)="handleImageError($event)">
        <img [src]="suppliersData[0].acf_fields['supplier-6-image-2']" alt="Image 2 for Supplier 6" class="supplier-6-image-2 fade-in-image small-image" #fadeInImage (error)="handleImageError($event)">
        <img [src]="suppliersData[0].acf_fields['supplier-6-image-3']" alt="Image 3 for Supplier 6" class="supplier-6-image-3 fade-in-image large-image" #fadeInImage (error)="handleImageError($event)">
      </div>
    </div>
  </section>

  <section class="supplier-section supplier-7 py-md-45 py-10">
    <div class="d-flex flex-column">
      <div [innerHTML]="suppliersData[0].acf_fields['supplier-7']"></div>
      <div class="image-container">
        <img [src]="suppliersData[0].acf_fields['supplier-7-image-1']" alt="Image 1 for Supplier 7" class="supplier-7-image-1 fade-in-image small-image" #fadeInImage (error)="handleImageError($event)">
        <img [src]="suppliersData[0].acf_fields['supplier-7-image-2']" alt="Image 2 for Supplier 7" class="supplier-7-image-2 fade-in-image large-image" #fadeInImage (error)="handleImageError($event)">
        <img [src]="suppliersData[0].acf_fields['supplier-7-image-3']" alt="Image 3 for Supplier 7" class="supplier-7-image-3 fade-in-image medium-image" #fadeInImage (error)="handleImageError($event)">
      </div>
    </div>
  </section>
</div>
