@import "../../styles/_variables.scss";

.homepage-container {
  .video-background {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100vw; 
    height: 100vh; 
    z-index: -1000; 
    object-fit: cover;
  }

  .homepage-content {

    .logo-container-mobile {
      display: none; 
    }

    .slogan-container {
      display: flex;
      align-items: center; 
      justify-content: center; 
      gap: 20px; 
      color: map-get($theme-colors, "white-yellow");

      .slogan {
        line-height: 1.5; 
      }
    }

    .opinion-container {
      height: 40vh;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: map-get($theme-colors, "grey-light-2");
    }
    
    .opinion-frame {
      width: 80%;
      max-width: 800px;
      border-radius: 10px;
      display: flex;
      justify-content: center; 
      align-items: center; 
      
        .opinion-carousel {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 25vh;
          padding: 20px;
        
            img {
              max-width: 650px;
              height: auto;
            }
        }
    }

    .press-container {
      display: flex;
      justify-content: center;
      align-items: center;
      border: map-get($theme-colors, "white-yellow") solid 1px;
      height: 30vh;
      z-index: 5000;

      .press-text {
        color: map-get($theme-colors, "white-yellow");
      }
      
      .press-logos {
        display: flex;
        align-items: center;
      }
    
      .press-logo {
        width: 5vw;
        height: auto;
        margin-right: 5vw; 
      }
    }
  }

  .location-container {
      color: map-get($theme-colors, "white-yellow");
  }
}


@media (max-width: 767px) {
 
  .homepage-container {
    width: 100%;
    .homepage-content {
      .logo-container-mobile {
        display: block; 
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); 

        .logo-homepage-mobile {
          width: 55vw; 
          height: auto;
          transition: width 0.5s ease;
        }
      }

      .slogan-container {
        display: none; /* Optionally hide slogan on mobile */
      }

      .opinion-container {
        .opinion-frame {
          width: 90%; /* Ajustez la largeur */
        }

        .opinion-carousel {
          height: 15vh; /* Ajustez la hauteur pour les mobiles */
        }
      }

      .press-container {
        .press-logos {
          flex-wrap: wrap; /* Permettre le retour à la ligne pour les logos */
        }

        .press-logo {
          width: 15vw; /* Réduire la taille des logos */
          margin-right: 2vw; /* Réduire l'espacement entre les logos */
        }
      }

      .location-container {
        flex-direction: column; /* Organiser verticalement les éléments */

        .map {
          width: 100%; /* Ajuster la largeur de la carte pour remplir l'espace */
          height: 200px; /* Hauteur fixe pour la carte sur mobile */
        }
      }
    }
  }
}
