<div class="container">
  <div class="homepage-container">
    <video autoplay muted loop class="video-background">
      <source src="assets/video/homepage-video.mov" type="video/mp4">
    </video>
    <div class="homepage-content pt-17">
      <div *ngIf="(homepageData$ | async) as homepageDataArray">
        <div *ngFor="let homepageData of homepageDataArray">
          <div class="slogan-container d-flex justify-content-center">
            <h3 class="text-fw-regular text-center text-fs-60 d-flex pt-6 px-12 slogan" [style.opacity]="initialOpacity" [innerHTML]="preparedSlogan"></h3>
          </div>
          <div class="opinion-container mt-17 d-flex flex-column">
            <div class="opinion-frame pb-10 pt-6">
              <carousel [interval]="3000" [itemsPerSlide]="1" [singleSlideOffset]="false" [noWrap]="false">
                <slide *ngFor="let opinion of opinions">
                  <div class="opinion-carousel">
                    <img [src]="opinion.img" alt="Opinion Image">
                  </div>
                </slide>
              </carousel>
            </div>
          </div>
          <div class="press-container py-7 d-flex flex-column">
            <h4 class="press-text pb-4 text-fw-regular">{{ homepageData?.acf_fields?.presse }}</h4>
            <div class="press-logos px-5 ml-10">
              <a *ngFor="let pressLogo of pressLogos" [href]="pressLogo.url" target="_blank">
                <img [src]="pressLogo.img" alt="Press Logo" class="press-logo">
              </a>
            </div>
          </div>
          <div class="location-container pl-11 py-13 d-flex">
            <div [innerHTML]="homepageData?.acf_fields?.location ? homepageData?.acf_fields?.location : ''"></div>
            <div class="map"></div>
          </div>  
        </div>
      </div>
    </div>
  </div>
</div>
