@import "../../styles/_variables.scss";

.homepage-container {
  .video-background {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100vw; 
    height: 100vh; 
    z-index: -1000; 
    object-fit: cover;
  }

  .homepage-content {

    .logo-container-mobile {
      display: none; 
    }

    .slogan-container {
      display: flex;
      align-items: center; 
      justify-content: center; 
      gap: 20px; 
      color: map-get($theme-colors, "white-yellow");

      .slogan {
        line-height: 1.5; 
      }
    }

    .opinion-container {
      height: 40vh;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: map-get($theme-colors, "grey-light-2");   
    }
    
    .opinion-frame {
      width: 100%;
      max-width: 800px;
      border-radius: 10px;
      display: flex;
      justify-content: center; 
      align-items: center; 
      
        .opinion-carousel {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 25vh;
          padding: 20px;
        
            img {
              max-width: 650px;
              height: auto;
            }
        }
    }

    .press-container {
      display: flex;
      justify-content: center;
      align-items: center;
      border: map-get($theme-colors, "white-yellow") solid 1px;
      height: 30vh;
      z-index: 5000;

      .press-text {
        color: map-get($theme-colors, "white-yellow");
      }
      
      .press-logos {
        display: flex;
        align-items: center;
      }
    
      .press-logo {
        width: 5vw;
        height: auto;
        margin-right: 5vw; 
      }
    }

    .custom-carousel .carousel-indicators {
      display: none !important;
    }   
  }

  .location-container {
    color: map-get($theme-colors, "white-yellow");
    .map iframe {
      height: 250px !important;
      width: 400px !important;
    }
  }
}


@media (max-width: 767px) {

  .homepage-container {
    width: 100%;
    .homepage-content {
      .logo-container-mobile {
        display: block; 
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); 

        .logo-homepage-mobile {
          width: 55vw; 
          height: auto;
          transition: width 0.5s ease;
        }
      }

      .slogan-container {
        display: none !important;
      }

      .opinion-container {
        display: none !important;
      }

      .press-container {
        border: none;
        height: 20vh !important;

        .press-logo {
          width: 13vw; 
          margin-right: 4vw; 
        }
      }

      .location-container {
        flex-direction: column; 
        text-align: center !important;

        .map iframe {
          height: 150px !important;
          width: 300px !important;
        }
      }
    }
  }
}
