<div class="container container-products" *ngIf="productsByCategory$ | async as categoryGroups">
  <h3>Nos produits sont bio et locaux</h3>
  <p>Faites votre commande en ligne de vos différents produits Burdigala puis venez la chercher directement à la laiterie. Vous n’avez rien à payer en ligne, le paiement se fera directement sur place le jour de votre passage.</p>

  <div *ngIf="categoryGroups.length === 0">Aucun produit disponible</div>

  <div *ngFor="let group of categoryGroups; let i = index">
    <h4 class="mt-10">{{ group.category }}</h4>
    <div class="row mt-8">
      <div class="col-12 col-md-6 col-lg-4 mb-4" *ngFor="let product of group.products">
        <div class="card h-100 p-4 card-border">
          <img *ngIf="product.acf_fields.product_image" [src]="product.acf_fields.product_image" class="card-img-top product-image" alt="Image du produit">
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">{{ product.acf_fields.product_title }}</h5>
            <p class="card-text">{{ product.acf_fields.description }}</p>
            <div class="product-details mt-auto">
              <p>Prix : {{ product.acf_fields.price }} €</p>
              <p>Poids : {{ product.acf_fields.weight }} g</p>
              <p>Quantité par défaut : {{ product.acf_fields.default_quantity }}</p>
                           
              <div class="d-flex flex-column align-items-center">
                <div class="quantity-selector mb-2 mt-5">
                <button class="btn decrease-btn" (click)="decreaseQuantity(product)">
                  <i class="material-icons">-</i>
                </button>
                <input type="number" class="quantity-input" [(ngModel)]="product.acf_fields.default_quantity" min="1">
                <button class="btn increase-btn" (click)="increaseQuantity(product)">
                  <i class="material-icons">+</i>
                </button>
                </div> 
                  <button class="btn btn-success w-100 mt-3" (click)="addToOrder(product)">Ajouter <i class="fa fa-shopping-cart"></i></button>
                  <button routerLink="/finaliser-commande" class="btn cart-btn mt-5 text-fs-20">Voir le panier</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="i === 0" class="logo logo-1"></div>
    <div *ngIf="i === 1" class="logo logo-2"></div>
    <div *ngIf="i === 2" class="logo logo-3"></div>
    <div *ngIf="i === 3" class="logo logo-4"></div>
    <div *ngIf="i === 4" class="logo logo-5"></div>
    <div *ngIf="i === 5" class="logo logo-6"></div>
    <div *ngIf="i === 6" class="logo logo-7"></div>
    <div *ngIf="i === 7" class="logo logo-8"></div>
  </div>
</div>
