@import "../../styles/_variables.scss";

.container-products {
  position: relative;
  z-index: 1;

  .card {
    display: flex;
    flex-direction: column;
    height: 100%;
    border: map-get($border-size, "1") solid map-get($theme-colors, "green-light");
    padding: 1rem;
  }

  .product-image {
    object-fit: cover;
    height: 280px;
    width: 100%;
    border-bottom: map-get($border-size, "1") solid map-get($theme-colors, "green-light");
    padding-bottom: 1rem;
  }

  .card-body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  .product-details {
    margin-top: auto;

    .quantity-selector {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 5px;
      width: 120px;

      .btn {
        background-color: #f4f4f4;
        border: 1px solid #ccc;
        color: #333;
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1px 8px;
        cursor: pointer;
        transition: background-color 0.2s;

        &:hover {
          background-color: #e0e0e0;
        }

        &:focus {
          outline: none;
        }
      }

      .quantity-input {
        width: 40px;
        text-align: center;
        border: 1px solid #ccc;
        font-size: 16px;
        margin: 0 5px;
      }
    }

    .quantity-input::-webkit-inner-spin-button,
    .quantity-input::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    .btn-success {
      background-color: map-get($theme-colors, "green-light");
      color: white;
      border: none;
      padding: 0.75rem 1.5rem;
      font-size: 1rem;
      border-radius: 0.375rem;
      transition: background-color 0.3s ease;
      width: 100%;
      margin-top: 1rem;
      z-index: 2;

      &:hover {
        background-color: darken(map-get($theme-colors, "green-light"), 20%);
      }

      i {
        margin-left: 0.5rem;
      }
    }
  }

  .btn.cart-btn:focus {
    outline: none; 
    box-shadow: map-get($theme-colors, "green-light") 0 0 0 0.1rem; 
  }

  .card-title, .card-text, .product-details p {
    margin-bottom: 0.5rem;
  }

  .logo {
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
    opacity: 0.2;
  }

  .logo-1 { top: 7vh; right: -10vw; transform: rotate(15deg); width: 50vw; height: 50vw; background-image: url("/assets/img/logo-burdigala-green.png"); }
  .logo-2 { top: 115vh; left: 5vw; transform: rotate(-20deg); width: 35vw; height: 35vw; background-image: url("/assets/img/logo-burdigala-green.png"); }
  .logo-3 { top: 250vh; right: -8vw; transform: rotate(10deg); width: 40vw; height: 40vw; background-image: url("/assets/img/logo-burdigala-green.png"); }
  .logo-4 { top: 369vh; left: 8vw; transform: rotate(-25deg); width: 30vw; height: 30vw; background-image: url("/assets/img/logo-burdigala-green.png"); }
  .logo-5 { top: 490vh; right: -10vw; transform: rotate(15deg); width: 50vw; height: 50vw; background-image: url("/assets/img/logo-burdigala-green.png"); }
  .logo-6 { top: 610vh; left: 8vw; transform: rotate(-20deg); width: 35vw; height: 35vw; background-image: url("/assets/img/logo-burdigala-green.png"); }
  .logo-7 { top: 730vh; right: -8vw; transform: rotate(10deg); width: 40vw; height: 40vw; background-image: url("/assets/img/logo-burdigala-green.png"); }
  .logo-8 { top: 850vh; left: 8vw; transform: rotate(-25deg); width: 30vw; height: 30vw; background-image: url("/assets/img/logo-burdigala-green.png"); }
}

#cart-animation {
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: red;
  color: white;
  display: none;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  z-index: 1000;
  transition: transform 1s ease, opacity 1s ease;
}


