<div id="footer" class="footer-item mt-10">
  <div class="bg-green text-white pt-5 pb-5">
    <div class="footer-content-container">
      <div class="footer-block logo-block">
        <img
          src="/assets/img/logo-burdigala-white.png"
          alt="Logo Laiterie Burdigala"
          class="logo-footer"
        >
      </div>

      <div class="footer-block footer-section location-block pt-lg-9">
        <h5 class="footer-title mb-4">Nous trouver</h5>
        <p class="footer-content">
          4, rue des douves<br>
          33000 Bordeaux
        </p>
      </div>

      <div class="footer-block footer-section contact-block pt-lg-9">
        <h5 class="footer-title mb-4">Nous contacter</h5>
        <p class="footer-content">06 65 49 26 42</p>
      </div>

      <div class="footer-block footer-section social-block pt-lg-9">
        <h5 class="footer-title mb-4">Nous suivre</h5>
        <div class="social-icons">
          <a
            href="https://www.instagram.com/laiterieburdigala/"
            target="_blank"
            rel="noopener noreferrer"
          >
            <img
              src="/assets/img/instagram-blanc.png"
              alt="Instagram Laiterie Burdigala"
              class="social-icon"
            >
          </a>

          <a
            href="https://www.facebook.com/p/Laiterie-Burdigala-100057113183728/?locale=fr_FR"
            target="_blank"
            rel="noopener noreferrer"
          >
            <img
              src="/assets/img/facebook-blanc.png"
              alt="Facebook Laiterie Burdigala"
              class="social-icon"
            >
          </a>
        </div>
      </div>
    </div>

    <div class="legal-section border-top">
      <div class="legal-box">
        <a routerLink="/politique-de-confidentialite" class="footer-link">
          Politique de confidentialité
        </a>
        <a routerLink="/mentions-legales" class="footer-link">
          Mentions légales
        </a>
        <a routerLink="/conditions-generales-de-vente" class="footer-link">
          CGV
        </a>
      </div>
    </div>
  </div>
</div>
