<div id="footer" class="footer-item mt-10">
  <div class="bg-green text-white pt-5 pb-5">
    <div class="footer-container">
      <div class="row d-flex align-items-center py-5">
        
        <div class="d-flex justify-content-between d-flex justify-content-center align-items-center px-12">
          <div class="logo-name">
            <img src="assets/img/logo-burdigala-white.png" alt="Logo Laiterie Burdigala" class="logo-footer">
          </div>
          <div class="footer-section">
            <p class="footer-title">Nous trouver</p>
            <p class="footer-content">4, rue des douves<br>33000 Bordeaux</p>
          </div>
          <div class="footer-section">
            <p class="footer-title">Nous contacter</p>
            <p class="footer-content">06 65 49 26 42</p>
          </div>
          <div class="footer-section d-flex">
            <p class="footer-title">Nous suivre</p>
            <div class="social-icons">
              <a href="https://www.instagram.com/laiterieburdigala/" target="_blank" rel="noopener noreferrer">
                <img src="assets/img/instagram-blanc.png" alt="Instagram Laiterie Burdigala" class="social-icon mx-3">
              </a>
              <a href="https://www.facebook.com/p/Laiterie-Burdigala-100057113183728/?locale=fr_FR" target="_blank" rel="noopener noreferrer">
                <img src="assets/img/facebook-blanc.png" alt="Facebook Laiterie Burdigala" class="social-icon mx-3">
              </a>
            </div>
          </div>
        </div>
      </div> 
    </div>
    <div class="row border-top my-5">
      <div class="col-12 mt-6 d-flex justify-content-center">
        <a href="/politique-de-confidentialite" class="footer-link">Politique de confidentialité</a>
        <a href="/mentions-legales" class="footer-link">Mentions légales</a>
        <a href="/conditions-generales-de-vente" class="footer-link">CGV</a>
      </div>
    </div>  
  </div>
</div>
