@import "../../../styles/_variables.scss";

  .transition-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white; /* ou toute autre couleur de fond nécessaire */
    z-index: 1000; /* Assurez-vous qu'il est au-dessus des autres éléments */
  }
    
  .logo-intro {
    opacity: 0;
    transition: opacity 1s ease-in-out;
    width: 30vw;
    height: auto;
  }
  
  .image-fade-in {
    opacity: 1;
  }
  