<div class="fixed-elements">
  <div class="menu-toggle mt-5 mb-3" type="button" (click)="toggleMenu()" [ngClass]="{'active': navbarExpanded}">
    <div class="animated-icon1" [ngClass]="{'open': navbarExpanded}">
      <div class="menu-line"></div>
      <div class="menu-line"></div>
      <div class="menu-line"></div>
    </div>
  </div>
  <div class="navbar-brand mx-auto my-5">
    <a href="/">
      <img src="assets/img/logo-intro.png" alt="Logo Laiterie Burdigala" class="logo">
    </a>
  </div>
</div>
