@import "../../styles/_variables.scss";

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  .image-fade-in {
    animation: fadeIn 1.5s ease-out forwards;
  }

  .logo-intro {
    width: 25vw; 
    height: auto;
    transition: width 0.5s ease;
  }
  
  .text-appear {
    opacity: 0;
    transition: opacity 1s ease-in-out;
    transition-delay: 0.5s; 
  }
  
  .text-visible {
    opacity: 1;
  }
  
  @media (max-width: 767px) {

    .full-width-container {
      height: 0 !important
    }
    .intro-container {
      position: relative; 
    }
    .text-appear {
      display: none; 
    }

    .logo-intro {
      position: absolute; 
      top: 55%;  
      left: 50%; 
      transform: translate(-50%, -80%); 
      width: 60vw; 
      z-index: 100; 
    }
  }