@import "../../styles/_variables.scss";

.container-order {
  .order-items {
    margin-bottom: 30px;
    background: #f9f9f9;
    border: 1px solid #e0e0e0;
    padding: 20px;
  
    .order-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 0;
      border-bottom: 1px solid #e0e0e0;
  
      &:last-child {
        border-bottom: none;
      }
  
      .product-name {
        flex: 2;
        font-size: 16px;
        color: #4a4a4a;
      }
  
      .product-detail {
        flex: 3;
        font-size: 14px;
        color: #9b9b9b;
      }
  
      .quantity {
        flex: 1;
        max-width: 40px;
        text-align: center;
      }

      .quantity::-webkit-inner-spin-button,
      .quantity::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
  
      .total-price {
        flex: 2;
        text-align: right;
        font-size: 16px;
        color: #4a4a4a;
      }
    }
  }
  
  .order-box {
    .order-summary {
      background-color: map-get($theme-colors, "green-light");
      border: 1px solid #e0e0e0;
      padding: 20px;
      margin-bottom: 30px;
    
        span {
          display: block;
          margin-bottom: 10px;
          font-size: 16px;
          color: #ffffff;
      
          &:last-child {
            margin-bottom: 0;
          }
        }
    
        hr {
          border: none;
          border-top: 1px solid #ffffff;
          margin: 20px 0;
        }
    
      span.total {
        font-size: 18px;
        font-weight: bold;
        color: #4a4a4a;
      }
    }
    .btn-success {
      background-color: map-get($theme-colors, "green-light") !important;
      color: white !important;
    
      &:hover {
        background-color: darken(map-get($theme-colors, "green-light"), 20%) !important;
      }
    }  
  }
  
  
  .order-form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    margin-bottom: 30px;
  
    input, button {
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 14px;
    }  
  }
  
  .social-media {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 20px;

    img {
      width: 30px;
    }
  }
}



